@mixin g-scrollbar-1 {
  /* 现代浏览器 */
  &::-webkit-scrollbar {
    @apply w-1;
    background-color: rgba(105, 117, 168, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(105, 117, 168, 0.6);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* 兼容性 */
  scrollbar-width: thin;
  scrollbar-color: rgba(105, 117, 168, 0.6) transparent;
}

@mixin b-table-1 {
  .table-wrapper {
    border: 2px solid #3486da;
    padding: 1px;
    margin: 20px 10px 0 10px;
  }

  .table {
    @apply w-full m-0 overflow-y-auto border-separate;
    height: 190px;
    /* 使用 separate 以支持 border-spacing */
    border-spacing: 2px 1px; /* 设置单元格之间的外间距：左右2px，上下1px */
    background-color: #050b47;
  }

  .table tbody {
    @apply w-full overflow-y-auto;
    height: 170px; /* 设置高度，留出thead的高度 */
  }

  .table-header,
  .table-cell {
    @apply text-center;
    border: 2px solid #1a4790; /* 单元格边框 */
    font-size: 16px;
    letter-spacing: 1px;
  }

  .table-header {
    background-color: #0f2465;
    font-size: 17px;
    color: #3184d6;
    @apply font-bold;
  }

  .table-cell {
    background-color: #050b47;
    color: #fff;
  }
}
