@use "./reset";

.app-container {
  padding: 15px;
}

.search-bar {
  padding: 18px 0 0 10px;
  margin-bottom: 10px;
  background-color: var(--el-bg-color-overlay);
  border: 1px solid var(--el-border-color-light);
  border-radius: 4px;
  box-shadow: var(--el-box-shadow-light);
}

.table-container > .el-card__header {
  padding: calc(var(--el-card-padding) - 8px) var(--el-card-padding);
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32 160 255);
  }
}

.search-container .el-form .el-input {
  width: 16rem !important;
}

.el-form {
  &.g-form-1 {
    .el-form-item__label {
      color: rgb(72, 93, 142);
      font-size: 14px;
      font-family:
        Helvetica Neue,
        Helvetica,
        Microsoft YaHei,
        微软雅黑,
        Arial,
        sans-serif,
        PingFang SC,
        Hiragino Sans GB;
    }
    .el-form-item__content {
      font-size: 16px;
      @apply text-gray-950;
    }
  }
}

.g-main-wrapper {
  @apply p-10px;
}

.g-title-block {
  @apply m-1;
  .__title {
    @apply text-xl font-bold relative pl-3 mb-2;
    &::after {
      @apply block h-full w-1.25 bg-blue-5 absolute left-0 top-0;
      content: "";
    }
  }
  .__stat {
    @apply flex;
    .__item {
      @apply m-1 text-sm text-gray-5;
    }
  }
}

.g-title-block-2 {
  @apply m-1;
  .__title {
    @apply text-xl font-bold relative pl-15px;
  }
  .__stat {
    @apply flex;
    .__item {
      @apply m-1 text-sm text-gray-5;
    }
  }
}

.info-card-level1 {
  @apply p-20px bg-white;

  .__title {
    @apply relative color-black text-size-18px font-bold mb-20px;
    &::after {
      @apply block h-0.5 w-1em bg-blue-5 absolute left-0;
      bottom: -10px;
      content: "";
    }
  }
  .__content {
    @apply mt-2;
  }
}

.g-button-1 {
  @apply shadow-md;
}

.dark-popper {
  &.el-popper.el-popover {
    background-color: #303133;
    border: 1px solid #303133;
    padding: 5px 10px;
    &[data-popper-placement^="top"] {
      .el-popper__arrow::after {
        border-color: #303133 transparent transparent transparent !important;
      }
    }
    &[data-popper-placement^="bottom"] {
      .el-popper__arrow::after {
        border-color: transparent transparent #303133 transparent !important;
      }
    }
    &[data-popper-placement^="left"] {
      .el-popper__arrow::after {
        border-color: transparent transparent transparent #303133 !important;
      }
    }
    &[data-popper-placement^="right"] {
      .el-popper__arrow::after {
        border-color: transparent #303133 transparent transparent !important;
      }
    }
  }
}
