// @forward 表示引入 element-plus/theme-chalk/src/common/var.scss 文件
// with 表示修改 var.scss 文件中的 $colors 和 $bg-color 变量
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #4080ff,
    ),
    "success": (
      "base": #23c343,
    ),
    "warning": (
      "base": #ff9a2e,
    ),
    "danger": (
      "base": #f76560,
    ),
    "info": (
      "base": #a9aeb8,
    ),
  ),

  $bg-color: (
    "page": #f5f8fd,
  )
);

/** 全局SCSS变量 */
// :root表示全局变量，可以在全局使用，如var(--menu-background)
// :export表示导出变量，可以在其他文件中使用，如$sidebar-width
// root、export、forward、with、as、from、include、use、import、global、local、var、let、const、if、else、for、each、while、mixin、function、return、extend、include、content、media、supports、at-root、debug、warn、error、if、else、for、each、while、return、extend、include、content、media、supports、at-root、debug、warn、error
// 上面这些关键字都是 SCSS 的保留关键字，不能用作变量名
// $开头的变量表示局部变量，只能在当前文件中使用
// var()表示引用全局变量，如var(--menu-background)
// 通过:root定义全局变量，可以在全局使用
// 所谓的全局变量，就是可以在任何地方使用的变量，这里的--el-menu-active-color是element-plus的变量
// 通过:export导出变量，可以在其他文件中使用, 如$sidebar-width, 导出后的变量名是不带$符号的，如sidebar-width
:root {
  // --menu-background: #304156;
  // --menu-text: #bfcbd9;
  // --menu-active-text: var(--el-menu-active-color);
  // --menu-hover: #263445;
  // --menu-active-background: $colors.primary.base;
  // --sidebar-logo-background: #2d3748;

  // 改为以蓝白为主基调的颜色
  --menu-background: #fff;
  --menu-text: #0f1a2f;
  --menu-active-text: #f5f7fa;
  --menu-active-background: rgb(59, 130, 246);
  --menu-hover: #c6d4f0;
  --sidebar-logo-background: #fff;
  --sidebar-logo-text-color: #000;

  // 修复表格 fixed 列被选中后由于透明色导致叠字的 bug
  .el-table {
    --el-table-current-row-bg-color: rgb(235 243 250);
  }
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
}

$menu-background: var(--menu-background); // 菜单背景色
$menu-text: var(--menu-text); // 菜单文字颜色
$menu-active-background: var(--menu-active-background); // 菜单激活背景色
$menu-active-text: var(--menu-active-text); // 菜单激活文字颜色
$menu-hover: var(--menu-hover); // 菜单悬停背景色
$sidebar-logo-background: var(--sidebar-logo-background); // 侧边栏 Logo 背景色
$custom-table-header-background: #f4f5f9; // 自定义表格头部背景色
$custom-table-header-color: #666666; // 自定义表格头部文字颜色

$sidebar-width: 236px; // 侧边栏宽度
$sidebar-width-collapsed: 54px; // 侧边栏收缩宽度
$navbar-height: 50px; // 导航栏高度
$tags-view-height: 34px; // TagsView 高度

$bigscreen-primary-color-1: #10d5e1; // 大屏主题色1
$bigscreen-primary-color-2: #f9b650; // 大屏主题色2
$bigscreen-primary-color-3: #f2b678; // 大屏主题色3
$bigscreen-primary-color-4: #f18c32; // 大屏主题色4
$bigscreen-primary-color-5: #18DBD4; // 大屏主题色5
$bigscreen-primary-color-6: #01B3F3; // 大屏主题色6
$bigscreen-primary-color-7: #5099E3; // 大屏主题色7
$bigscreen-primary-color-8: #27518D; // 大屏主题色8
$bigscreen-primary-color-9: #25DDA7; // 大屏主题色9
$bigscreen-primary-color-10: #249E55; // 大屏主题色10
