/* stylelint-disable property-no-unknown */
:export {
  sidebar-width: $sidebar-width;
  navbar-height: $navbar-height;
  tags-view-height: $tags-view-height;
  menu-background: $menu-background;
  menu-text: $menu-text;
  menu-active-background: $menu-active-background;
  menu-active-text: $menu-active-text;
  menu-hover: $menu-hover;
  custom-table-header-background: $custom-table-header-background;
  custom-table-header-color: $custom-table-header-color;
  bigscreen-primary-color-1: $bigscreen-primary-color-1;
  bigscreen-primary-color-2: $bigscreen-primary-color-2;
  bigscreen-primary-color-3: $bigscreen-primary-color-3;
  bigscreen-primary-color-4: $bigscreen-primary-color-4;
  bigscreen-primary-color-5: $bigscreen-primary-color-5;
  bigscreen-primary-color-6: $bigscreen-primary-color-6;
  bigscreen-primary-color-7: $bigscreen-primary-color-7;
  bigscreen-primary-color-8: $bigscreen-primary-color-8;
  bigscreen-primary-color-9: $bigscreen-primary-color-9;
  bigscreen-primary-color-10: $bigscreen-primary-color-10;
}
/* stylelint-enable property-no-unknown */
